<ion-header>
  <ion-toolbar>
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <div id="container" >
    <ion-img id="404" src="assets/img/pngegg (3).png" alt="Descripción de la imagen"></ion-img>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <ion-button color="warning" fill="outline" routerLink="/">Volver al Inicio</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-img id="logo" src="assets/img/Logo_DuocUC.svg.png" alt="Descripción de la imagen" slot="end"></ion-img>
    <ion-title slot="start">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-footer>
