<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab de Inicio -->
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Tab de Perfil -->
    <ion-tab-button tab="perfil-alumno">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    

    <!-- Tab de Asignaturas -->
    <ion-tab-button tab="asignaturas">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>

    <!-- Tab de Asistencia -->
    <ion-tab-button tab="asistencia">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Asignaturas</ion-label>
    </ion-tab-button>

    <!-- Tab de Logout -->
    <ion-tab-button (click)="confirmarlogout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
