<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenedor">
    <div id="contenedorqr" *ngIf="qrCodeUrl">
      <img id="qr" [src]="qrCodeUrl" alt="Código QR" />
    </div>
    <div id="detalles" *ngIf="asignaturaName || seccion || sala">
      <h2>Detalles de la Asignatura</h2>
      <p *ngIf="asignaturaName"><strong>Asignatura:</strong> {{ asignaturaName }}</p>
      <p *ngIf="seccion"><strong>Sección:</strong> {{ seccion }}</p>
      <p *ngIf="sala"><strong>Sala:</strong> {{ sala }}</p>
    </div>
  </div>
</ion-content>
