<ion-app>
  
  <ion-menu *ngIf="userRole === 'profesor'" contentId="main-content" menuId="profesorMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú Profesores</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Profesores</ion-item>
        <ion-item>Asignaturas</ion-item>
        <ion-item>Asistencia</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
