<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="tituloMain">
      {{ tituloMain }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center ion-no-border">
    <!-- Agrega la ciudad y el clima -->
    <h2 *ngIf="weatherData?.weather?.[0]?.description">{{ weatherData.weather[0].description }}</h2>
    <p *ngIf="weatherData?.main?.temp">
      <!-- Muestra la temperatura si está disponible -->
      Temperatura: {{ weatherData.main.temp }} °C
    </p>
    <p *ngIf="weatherData?.main?.humidity">
      <!-- Muestra la humedad si está disponible -->
      Humedad: {{ weatherData.main.humidity }}%
    </p>
  </ion-header>

  <br>

  <div id="container">
    <div id="formulario">
      <ion-title class="titulos">Bienvenidos</ion-title>
      <br>
      <h1>LOGIN</h1>
      <ion-input [(ngModel)]="username" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese su usuario"></ion-input>
      <br>
      <ion-input type="password" [(ngModel)]="password" label="Password" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña"></ion-input>
      <br>
      <ion-button (click)="validateLogin()" expand="block" color="warning" fill="outline">Ingresar</ion-button>
      <br>
      <a class="lol" (click)="recuperarPassword()">¿Olvidaste tu contraseña?</a>
    </div>  
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <img src="assets/img/Grunge_Graffiti_Spirit_Brand_Logo-removebg.png" style="width: 100px; filter: drop-shadow(1px 1px 5px orange);" alt="Logo" class="footer-logo" />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
