#container {
    margin: 170px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  #tituloMain{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
  }
  
  #col1{
    justify-content: center;
    align-content: center;
  }
  
  p{
    font-size: 15px;
    font-family: monospace;
    color: gray;
  }
  
  a {
    text-decoration: none;
  }
  
  #imagen-logo{
    width: 150px;
    margin-left: 120px;
    opacity:calc(0.3);
  }
  
  #imagen-profile{
    width: 130px;
    margin-left: 10px;
    margin-top: 50px;
    opacity:calc(0.3);
    filter: drop-shadow(1px 1px 4px orange);
  }
  
  #contenedor{
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    height: 400px;
  
    padding: 10px;
  }
  
  .uppercase-text {
    text-transform: uppercase;
  }
  
  #contenedor-hijo{
    display: grid;
    justify-content: center;
    align-items: center;
  }