<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Verificar si hay asignaturas registradas -->
    <div *ngIf="asignaturas.length > 0; else noAsignaturaData">
      <ion-card *ngFor="let asignatura of asignaturas">
        <ion-card-header>
          <ion-card-title>{{ asignatura }}</ion-card-title> <!-- Asignatura registrada -->
        </ion-card-header>

        <ion-card-content>
          <!-- Aquí podrías agregar información adicional de cada asignatura si fuera necesario -->
          <ion-button (click)="verMas(asignatura)">
            Ver más detalles
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Si no se tienen asignaturas registradas, mostrar mensaje -->
    <ng-template #noAsignaturaData>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No se han registrado asignaturas aún</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Escanea un código QR de una asignatura para registrarla aquí.
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>
</ion-content>
